<ion-header>
  <ion-toolbar>
    <ion-title class="title-custom">
      Campeonato DUOC De League Of Legends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Evento 1 Mapa: </ion-card-title>
      <ion-card-title> Grieta del Invocador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" routerLink="/grieta">Comprar Entradas</ion-button>
    </ion-card-content>
  </ion-card>
  <img src="assets/img/grieta.jpg" alt="Grieta del Invocador" class="imagen-grieta">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Evento 2 Mapa: </ion-card-title>
      <ion-card-title>Abismo de los Lamentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" routerLink="/abismo">Comprar Entradas</ion-button>
    </ion-card-content>
  </ion-card>
  <img src="assets/img/abismo.jpg" alt="Abismo de los Lamentos" class="imagen-abismo">
  <ion-footer>
    <ion-toolbar>
      <ion-title class="ion-text-center">© 2024 JoseDiazGonzalez</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">© 2024 JoseDiazGonzalez</ion-title>
  </ion-toolbar>
</ion-footer>