#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button {
  transition: background-color 0.3s ease;
}

ion-button:hover {
  background-color: #3880ff;
}

.title-custom {
  white-space: normal; /* Permite que el texto se divida en varias líneas */
  text-align: center;  /* Centra el texto horizontalmente */
  font-size: 1.2em;    /* Ajusta el tamaño de la fuente */
}

.imagen-grieta, .imagen-abismo {
  width: 100%;  /* Asegura que las imágenes se ajusten al ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Ajustar el ion-content para que tenga espacio para el footer */
ion-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  overflow-y: auto; /* Permite que el contenido se desplace si es más largo que la pantalla */
  padding-bottom: 56px; 
}

ion-footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  z-index: 10; 
}
