<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input formControlName="surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input formControlName="age" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Event</ion-label>
      <ion-select formControlName="event">
        <ion-select-option value="grieta">Grieta del Invocador</ion-select-option>
        <ion-select-option value="abismo">Abismo de los Lamentos</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ticket Type</ion-label>
      <ion-select formControlName="ticketType">
        <ion-select-option value="standard">Standard</ion-select-option>
        <ion-select-option value="vip">VIP</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input formControlName="quantity" type="number"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Submit</ion-button>
  </form>
</ion-content>
